<div class="body">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">Some quick example component<br>created using cli.</p>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Component One</h5>
                <p class="card-text">Some quick example component<br>created using cli.</p>
              </div>
            </div>
</div>
